@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9837 0.0019 264.5449);
  --foreground: oklch(0.2639 0.0102 264.3844);
  --card: oklch(0.9590 0.0049 264.5351);
  --card-foreground: oklch(0.2639 0.0102 264.3844);
  --popover: oklch(0.9590 0.0049 264.5351);
  --popover-foreground: oklch(0.2639 0.0102 264.3844);
  --primary: oklch(0.4896 0.2058 275.6741);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8780 0.0113 264.5074);
  --secondary-foreground: oklch(0.3617 0.0158 264.3570);
  --muted: oklch(0.9205 0.0049 264.5343);
  --muted-foreground: oklch(0.5473 0.0127 264.4631);
  --accent: oklch(0.8862 0.0419 285.5147);
  --accent-foreground: oklch(0.3784 0.1887 272.7517);
  --destructive: oklch(0.5972 0.1977 25.5155);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8393 0.0101 264.5103);
  --input: oklch(0.9205 0.0049 264.5343);
  --ring: oklch(0.4896 0.2058 275.6741);
  --chart-1: oklch(0.4896 0.2058 275.6741);
  --chart-2: oklch(0.7341 0.1296 177.5956);
  --chart-3: oklch(0.7667 0.1581 68.4475);
  --chart-4: oklch(0.6713 0.1418 313.7098);
  --chart-5: oklch(0.6650 0.1743 33.0744);
  --radius: 0.5rem;
  --sidebar: oklch(0.9354 0.0059 264.5311);
  --sidebar-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-primary: oklch(0.4419 0.2256 272.2811);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8364 0.0153 264.4854);
  --sidebar-accent-foreground: oklch(0.4081 0.0184 264.3488);
  --sidebar-border: oklch(0.7980 0.0129 264.4943);
  --sidebar-ring: oklch(0.4419 0.2256 272.2811);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: hsl(220, 10%, 20%);
  --shadow-opacity: 0.08;
  --shadow-blur: 0.8rem;
  --shadow-spread: -0.2rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.3rem;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.04);
  --shadow-xs: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.04);
  --shadow-sm: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.08), 0rem 1px 2px -1.2px hsl(220 10% 20% / 0.08);
  --shadow: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.08), 0rem 1px 2px -1.2px hsl(220 10% 20% / 0.08);
  --shadow-md: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.08), 0rem 2px 4px -1.2px hsl(220 10% 20% / 0.08);
  --shadow-lg: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.08), 0rem 4px 6px -1.2px hsl(220 10% 20% / 0.08);
  --shadow-xl: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.08), 0rem 8px 10px -1.2px hsl(220 10% 20% / 0.08);
  --shadow-2xl: 0rem 0.3rem 0.8rem -0.2rem hsl(220 10% 20% / 0.20);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.2096 0.0109 264.3076);
  --foreground: oklch(0.9176 0.0099 264.5152);
  --card: oklch(0.2612 0.0154 264.2613);
  --card-foreground: oklch(0.9176 0.0099 264.5152);
  --popover: oklch(0.2612 0.0154 264.2613);
  --popover-foreground: oklch(0.9176 0.0099 264.5152);
  --primary: oklch(0.5813 0.1848 278.9743);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3617 0.0158 264.3570);
  --secondary-foreground: oklch(0.8364 0.0153 264.4854);
  --muted: oklch(0.3138 0.0131 264.3681);
  --muted-foreground: oklch(0.6767 0.0107 264.4955);
  --accent: oklch(0.2715 0.1465 271.1027);
  --accent-foreground: oklch(0.8198 0.0750 284.6267);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4081 0.0184 264.3488);
  --input: oklch(0.3138 0.0131 264.3681);
  --ring: oklch(0.5813 0.1848 278.9743);
  --chart-1: oklch(0.5813 0.1848 278.9743);
  --chart-2: oklch(0.7813 0.1221 179.6397);
  --chart-3: oklch(0.8014 0.1221 73.7282);
  --chart-4: oklch(0.7106 0.1442 313.7638);
  --chart-5: oklch(0.6982 0.1333 32.4463);
  --sidebar: oklch(0.2306 0.0127 264.2863);
  --sidebar-foreground: oklch(0.8758 0.0151 264.4898);
  --sidebar-primary: oklch(0.5262 0.2110 276.3331);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3103 0.0197 264.2318);
  --sidebar-accent-foreground: oklch(0.7908 0.0259 264.4167);
  --sidebar-border: oklch(0.3617 0.0158 264.3570);
  --sidebar-ring: oklch(0.5262 0.2110 276.3331);
  --radius: 0.5rem;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: hsl(220, 10%, 5%);
  --shadow-opacity: 0.3;
  --shadow-blur: 1.2rem;
  --shadow-spread: -0.4rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.15);
  --shadow-xs: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.15);
  --shadow-sm: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.30), 0rem 1px 2px -1.4px hsl(220 10% 5% / 0.30);
  --shadow: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.30), 0rem 1px 2px -1.4px hsl(220 10% 5% / 0.30);
  --shadow-md: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.30), 0rem 2px 4px -1.4px hsl(220 10% 5% / 0.30);
  --shadow-lg: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.30), 0rem 4px 6px -1.4px hsl(220 10% 5% / 0.30);
  --shadow-xl: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.30), 0rem 8px 10px -1.4px hsl(220 10% 5% / 0.30);
  --shadow-2xl: 0rem 0.5rem 1.2rem -0.4rem hsl(220 10% 5% / 0.75);
}

@theme inline {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}